@inherits LayoutComponentBase
@using BlazorBootstrap
@inject NavigationManager Navigation


<BlazorBootstrapLayout StickyHeader="true">
    <HeaderSection>
        <ThemeSwitcher Class="ps-3 ps-lg-2" />
    </HeaderSection>

    <SidebarSection>
        <Sidebar2 Href="/"
                  ImageSrc="https://demos.blazorbootstrap.com/images/logo/logo-white.svg"
                  Title="Blazor Bootstrap"
                  BadgeText="3.3.1"
                  DataProvider="Sidebar2DataProvider"
                  WidthUnit="Unit.Px" />
    </SidebarSection>

    <ContentSection>
        @Body
        @if (ShowFloatingTimer) {
            <PomodoroApp.Components.FloatingPomodoroTimer />
        }
        <footer class="text-center mt-5 mb-4">
            <a href="https://github.com/BigZeek/RedLoopPomodoroApp" target="_blank" class="d-inline-block">
                <img src="css\icons\github-mark-white.png" alt="GitHub Logo" width="32" height="32" />
                <span class="visually-hidden">GitHub Repository</span>
            </a>
            <p class="text-muted small mt-2 mb-0">Check out the code on GitHub</p>
        </footer>

    </ContentSection>


</BlazorBootstrapLayout>

@code {
    private IEnumerable<NavItem> navItems = default!;

    private async Task<Sidebar2DataProviderResult> Sidebar2DataProvider(Sidebar2DataProviderRequest request)
    {
        if (navItems is null)
            navItems = GetNavItems();

        return await Task.FromResult(request.ApplyTo(navItems));
    }

    private IEnumerable<NavItem> GetNavItems()
    {
        navItems = new List<NavItem>
        {
            new NavItem { Id = "1", Href = "/", IconName = IconName.HouseDoorFill, Text = "Home", Match=NavLinkMatch.All},
            new NavItem { Id = "2", Href = "/pomodoro", IconName = IconName.HourglassSplit, Text = "Pomodoro Timer"},
            new NavItem { Id = "3", Href = "/settings", IconName = IconName.GearWide, Text = "Settings"},
            new NavItem { Id = "4", Href = "/contact", IconName = IconName.EnvelopePaper, Text = "Suggestion Box"}
        };

        return navItems;
    }
    protected override void OnParametersSet() {
        ShowFloatingTimer = !Navigation.Uri.Contains("/pomodoro");
    }

    private bool ShowFloatingTimer {get; set;} = true;
}
 If you