@using PomodoroApp.Services
@inject TimerSettingsService TimerService
@inject PomodoroTimerService PomodoroService

@code {
    private int workTimeLeft;
    private int breakTimeLeft;
    private bool isRunning = false;
    private bool isWorkInterval = true;
    //Displays work or break times accordingly
    private string DisplayTime => $"{PomodoroService.TimeLeft / 60:D2}:{PomodoroService.TimeLeft % 60:D2}";

    private void ResetWorkTime(){
        workTimeLeft = TimerService.WorkTimeMinutes * 60;
    }
    private void ResetBreakTime(){
        breakTimeLeft = TimerService.BreakTimeMinutes * 60;
    }

    private void ResetIntervals() {
        workTimeLeft = TimerService.WorkTimeMinutes * 60;
        breakTimeLeft = TimerService.BreakTimeMinutes * 60;
    }
    private async Task StartPauseTimer() 
    {
        if(PomodoroService.IsRunning) {
            PomodoroService.Pause();
        } else  
            PomodoroService.Start();
        
    }

    protected override void OnInitialized(){
        ResetWorkTime();
        ResetBreakTime();
        PomodoroService.OnTick += HandleTick;
    }

    private void HandleTick() {
        InvokeAsync(StateHasChanged);
    }

}


<div class="container text-center mt-5">
    <h1 class="mb-3">Pomodoro Timer</h1>
    <h2 class="display-4">@DisplayTime</h2>
    <button class="btn btn-primary mt-3" @onclick="StartPauseTimer">
        @(PomodoroService.IsRunning ? "Pause" : "Start")
    </button>
</div>
