@page "/contact"
@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Json
@inject HttpClient Http

<PageTitle>Contact</PageTitle>

<h1>Suggestion Box</h1>

<p>Drop any suggestions for improvements here!</p>

<EditForm Model="@suggestion" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Name:</label>
        <InputText @bind-Value="suggestion.Name" class="form-control" style="width: 75%" />
    </div>
    <div>
        <label>Your Email:</label>
        <InputText @bind-Value="suggestion.Email" class="form-control" style="width: 75%" />
    </div>
    <div>
        <label>Suggest an Improvement!</label>
        <InputTextArea @bind-Value="suggestion.Message" class="form-control" style="width: 75%"  rows="4"/>
    </div>
    <button type="submit">Submit</button>
</EditForm>

@if (!string.IsNullOrEmpty(responseMessage))
{
    <div class="alert alert-info mt-2">
        @responseMessage
    </div>
}


@code {
    private SuggestionModel suggestion = new();
    private bool submitted = false;
    private string responseMessage = "";

    private async Task HandleSubmit() {
        var json = JsonSerializer.Serialize(suggestion);
        var content = new StringContent(json, Encoding.UTF8, "application/json");

        var response = await Http.PostAsync("https://script.google.com/macros/s/AKfycbyahTjQXkCTP-yyv31f0epu35fLav_KLOBMWLKbrjJr8gcFILLHtwWBD9y29yhyu4O-/exec", content);

        responseMessage = response.IsSuccessStatusCode ? "Thank you for your suggestion!" : "There was an error.";
        StateHasChanged();
    }

    public class SuggestionModel {
        [Required]
        public string Name {get; set;}
        [Required]
        public string Email {get; set;}

        [Required]
        [StringLength(200)]
        public string Message {get; set;}
    }
}