@page "/"
@using PomodoroApp.Components

<PageTitle>Home</PageTitle>

<h1>Welcome to RedLoop!</h1>
<p>Head in to the Pomodoro Timer to get to work, or read below if you are new!</p>

<section>
    <p>
        The Pomodoro Technique is a time management technique designed to help you focus on work and break your effort into smaller chunks. 
        Once you have decided on a task (or list of tasks), decide how long you want your work and break cycles to be. 
        Common Intervals are: 
        <ul>            
            <li>25/5 (default in this app)</li>
            <li>45/15</li>
            <li>50/10</li>
        </ul>

        Or, experiment and find one that works best for you!
    </p>

        <h2>Why RedLoop?</h2>
        The Pomodoro Method can and should be more than a timer, and this app fills in the gaps that the classic kitchen timer is missing. 
    <p>  
        RedLoop features: 
        <ul>
            <li>Customizable work/break intervals to suit your work style.</li>

            <li>Ambient sounds and background music to keep you locked in to your task, and signals for when it's time for that well-earned break!</li>

            <li>Visualizations that give an ambiance of calm to make chaotic work feel less chaotic.</li>
        </ul>
        So, how's this thing work?
        If you want an endless stream of 25/5 cycles, just head to Pomodoro Timer in the menu and hit Start!
        <p>To change sound and music settings, visualization settings, or change the work/break intervals, head into Settings.</p>

        <p>Have a suggestion? Hit the Suggestion Box and send me an email and tell me how I can make things better!</p>

        <p>Happen to be a developer? This project is on GitHub, just hit the link at the bottom of the page!</p>

    </p>
</section>

