@page "/settings"
@using PomodoroApp.Services;
@using BlazorBootstrap
@using Microsoft.AspNetCore.Components
@inject TimerSettingsService TimerService

<PageTitle>Settings</PageTitle>

<h1>Settings</h1>

<div>
    <label>Work Time (in minutes):</label>
    <input @bind="workTimeInput" placeholder="Work (min)" type="number" />
</div>

<div>
    <label>Break Time (in minutes):</label>
    <input @bind="breakTimeInput" placeholder="Break (min)" type="number" />
</div>
<div>
    <label>Work Cycles (optional):</label>
    <input @bind="cyclesInput" placeholder="Cycles" type="number" />
</div>

<Button Color="ButtonColor.Success" @onclick="SaveSettings">Save Settings</Button>
<p>@message</p>

@code {
    private int workTimeInput;
    private int breakTimeInput;
    private int savedWorkTime;
    private int savedBreakTime;
    private int? cyclesInput;
    private int? savedCycles;
    private string message = string.Empty;

    protected override void OnInitialized(){
        workTimeInput = TimerService.WorkTimeMinutes;
        breakTimeInput = TimerService.BreakTimeMinutes;
        cyclesInput = TimerService.WorkCycles;
    }
    private void SaveSettings(){
        savedWorkTime = workTimeInput;
        savedBreakTime = breakTimeInput;
        savedCycles = cyclesInput;
        TimerService.UpdateCycles(savedCycles);
        TimerService.UpdateTimes(savedWorkTime, savedBreakTime);
        message = "Settings saved!";
    }
    
}
